
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
}





header {
display: flex;
width: 100%;
height: 20%;
justify-content: space-around;
align-items: center;
margin: 10px 0;
box-sizing: border-box;
}


#navbar ul li{
  display: inline-block;
  list-style: none;
  margin: 0 40px;
}

/* to put them at the center */
#navbar ul {
display: block;
margin-left: 150px;
}

#navbar ul li {
display: inline-block;
list-style: none;
margin:  30px;
}

.nav-link {
color: black;
text-decoration: none;
}


.nav-btn{
  padding: 10px 20px;
  border-radius: 5px;
  border: 0.5px solid black;
  margin-right: 5px;   
}

.sign-up{
  color: white;
  background-color: #00325B;
}

.sign-in{
  color: #00325B;
  background-color: white;
}


#form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#container{
  text-align: center;
  width: 45%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #00325B;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.nav-link:hover {
border-bottom: 3px solid #00325B;
padding-bottom: 5px;
}

.nav-btn {
padding: 15px 30px;
border-radius: 10px;
border: 1px solid #00325b;
margin-right: 5px;
}

#sign-up{
color: #fff;
background-color: #00325b;
}

#sign-in{
background-color: #fff;
color: #00325b;

}

#form {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

#container {
text-align: center;
width: 45%;
height: 50px;
border-radius: 5px;
display: flex;
align-items: center;
border: 1px solid black;
padding: 10px 20px;
flex-wrap: wrap;
}

input[type="text"] {
flex: 1;
outline: none;
padding: 10px;
border: none;
flex-wrap: wrap;
}

#welcome-section{
display: flex;
align-items: center;
margin-top: 100px;
margin: 100px 50px 150px 50px;
flex-wrap: wrap;
}

#welcome-section img{
width: 60%;
}

#welcome-section div{
width: 40%;
line-height: 1.5;
}

#welcome-section div h1{
margin-bottom: 30px;
font-weight: bolder;
color: #00325b;
}

#welcome-section div p{
margin-bottom: 50px;
}

.welcome-button {
text-align: center;
padding: 20px 60px;
background: #00325b;
border: none;
border-radius: 10px;
color: #fff;
font-weight: bolder;
margin-top: 20px;
margin-bottom: 40px;
}
/*This contains the Popular Animations*/
#anima8{
margin: 100px 50px 0px 50px;
}

#popular-anim{
margin: 100px 50px 0px 50px;
line-height: 1.5;
}
#popular-anim h3{
color: #00325B;
margin-bottom: 5px;
}

#demo-anim8{
background-color: #CFE8FF;
place-content: center;
padding: 20px;
margin: 0px 50px 25px 50px;
border-spacing: 50px;
display: grid;
grid-template-areas: 
'a'
'b'
'c'
'd'
;
gap: 30px;
overflow: hidden;
}
.demo-1row, .demo-2row, .demo-3row, .demo-4row{
display: flex;
gap: 20px;
width: 100%;
flex-wrap: wrap;
}
.demo-1row div, .demo-3row div{
background-color: white;
padding: 4em 6em 4em 6em;
}
.demo-2row div, .demo-4row div{
padding: 0em 6em 4em 6em;
}
.demo-1row{
grid-area: a;
}
.demo-2row{
grid-area: b;
}
.demo-3row{
grid-area: c;
}
.demo-4row{
grid-area: d;
}
.demo-2row button, .demo-4row button{
color: #00325B;
padding: 10px;
text-align: center;
margin-left: -17px;
cursor: pointer;
}

#visit-button div{
padding: 0.5em;
place-self: center;
display: flex;
align-items: center;
justify-content: center;
}
#visit-button button{
  text-align: center;
  padding: 20px;
  background: #00325b;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 40px;
}
#visit-button a{
text-decoration: none;
color: white;
}
#anim8-best{
margin: 100px 50px 150px 50px;
}

#anim8-best h3{
color: #00325b;
margin-bottom: 25px;
}
.animated-bounce{
border-radius: 50%;
}
.feature{
margin-bottom: 40px;
}
footer{
  background-color: #00325B;
  color: white;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 15px 0;
}

.footer h4{
  font-weight: 500;
  font-size: x-large;
  margin: 15px 0;
}

address a{
  display: block;
  margin-bottom: 10px;
  transition: all 0 3s;
  color: #E8E8E8;
  text-decoration: none;
  font-weight: 400;
}

.websites{
  text-decoration: underline;
}

#animations{
display: flex;
align-items: center;
margin: 100px 50px 150px 50px;
flex-wrap: wrap;
}

#animations img{
width: 60%;
}

#animations div{
width: 40%;
line-height: 1.5;
}

#animations div h3{
margin-bottom: 20px;
font-weight: bolder;
color: #00325b;
}

#animations button{
text-align: center;
padding: 20px 60px;
background: #00325b;
border: none;
border-radius: 10px;
color: #fff;
font-weight: bolder;
margin-top: 20px;
margin-bottom: 40px;
}

#animations div p{
margin-bottom: 50px;
}

#subscribe{
  background-color: #CFE8FF;
  display: flex;
  align-items: center;
  padding: 100px 20px;
  margin-top: 100px;
  overflow: hidden;
  flex-wrap: wrap;
}
#subscribe div{
  width: 50%;
}

#subscribe form {
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

#subscribe form input{
    width: 95%;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    align-self: center;
    display: inline-block;
    border: 1px solid #00325B;
}

#subscribe form input[type="submit"]{
  background-color: #00325B;
  color: #fff;
  font-weight: 400;
}

footer {
background-color: #00325b;
color: white;
margin-top: 0;
}


.profile-link{
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.social img{
  background-color: white;
  margin-top: 20px;
}

.social a{
  font-size: x-large;
}

.social a:hover{
  font-size: x-large;
  padding-left: 0;
}

.footer-paragraph{
  text-align: center;
  padding-bottom: 20px;
}

/*The light and strong represent the copyright content*/
footer light{
  color: #E8E8E8;
}

footer strong{
  font-weight: 500;
}

.footer {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
width: 100%;
padding: 40px;
box-sizing: border-box;
}
address{
font-style: normal;
}

address a {
text-decoration: none;
display: block;
margin-bottom: 10px;
transition: all 0 3s;
color: white;
}
address a:hover {
padding-left: 10px;
color: blue;
}
.profile-link {
display: flex;
gap: 20px;
margin-top: 10px;
}
.social img {
background-color: white;
margin-top: 20px;
height: 30%;
}
.footer-paragraph {
text-align: center;
padding-bottom: 20px;
}

/*Adding animations 
------------------------------*/
.moveUp:active{
/* for use in the keyframes */
-webkit-animation-name: moveUp;
animation-name: moveUp;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
/* so it returns back to the original state, set to normal so that it goes just once  */
-webkit-animation-direction: alternate;
animation-direction: alternate;
/* you can set this to ease, ease-in, ease-out, ease-in-out, or a custom cubic-bezier */
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-duration: 2s;
animation-duration: 2s;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}
@-webkit-keyframes moveUp {
/* to go up we ue negative values  */
to {
  transform: translateY(-50px);
}
}
@keyframes moveUp {
/* to go up we ue negative values  */
to {
  transform: translateY(-50px);
}
}

.moveDown:active {
-webkit-animation-name: moveDown;
animation-name: moveDown;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
/* so it returns back to the original state, set to normal so that it goes just once  */
/* and reverts in an instant but with alternate it kind of rewinds it  */
-webkit-animation-direction: alternate;
animation-direction: alternate;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-duration: 2s;
animation-duration: 2s;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}
@-webkit-keyframes moveDown {
/* to go down we use positive values */
to {
  transform: translateY(50px);
}
}
@keyframes moveDown {
/* to go down we use positive values */
to {
  transform: translateY(50px);
}
}

.moveRight:active {
-webkit-animation-name: moveRight;
animation-name: moveRight;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
-webkit-animation-direction: alternate;
animation-direction: alternate;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-duration: 2s;
animation-duration: 2s;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}
@-webkit-keyframes moveRight {
/* to go right use positive values */
to {
  transform: translateX(50px);
}
}
@keyframes moveRight {
/* to go right use positive values */
to {
  transform: translateX(50px);
}
}

.moveLeft:active {
-webkit-animation-name: moveLeft;
animation-name: moveLeft;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
-webkit-animation-direction: alternate;
animation-direction: alternate;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-duration: 2s;
animation-duration: 2s;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}
@-webkit-keyframes moveLeft {
/* to go left use negative values */
to {
  transform: translateX(-50px);
}
}
@keyframes moveLeft {
/* to go left use negative values */
to {
  transform: translateX(-50px);
}
}

.bounce:active {
-webkit-animation-name: bounce;
animation-name: bounce;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
animation-direction: alternate;
-webkit-animation-timing-function: ease-in;
animation-timing-function: ease-in;
-webkit-animation-duration: 1s;
animation-duration: 1s;
}
@-webkit-keyframes bounce {
/* it moves up then down */
from {
  transform: translateY(-50px);
}
to {
  transform: translateY(50px);
}
}
@keyframes bounce {
/* it moves up then down */
from {
  transform: translateY(-50px);
}
to {
  transform: translateY(50px);
}
}

.blink:active {
-webkit-animation-name: blink;
animation-name: blink;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
animation-direction: alternate;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-duration: 0.5s;
animation-duration: 0.5s;
}
@-webkit-keyframes blink {
/* make it go inviscible and then viscible*/
/* you can't animate css display property */
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}
@keyframes blink {
/* make it go inviscible and then viscible*/
/* you can't animate css display property */
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

.popOut:active {
-webkit-animation-name: popOut;
animation-name: popOut;
-webkit-animation-duration: 0.8s;
animation-duration: 0.8s;
/* change this to 1 if you want to do it once */
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
animation-direction: alternate;
/* uncomment this if you want to make it stay big */
/* animation-fill-mode: forwards; */
}
@-webkit-keyframes popOut {
to {
  transform: scale(1.2);
}
}
@keyframes popOut {
to {
  transform: scale(1.2);
}
}

.shakeSide:active {
-webkit-animation-name: shakeSide;
animation-name: shakeSide;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-duration: 1s;
animation-duration: 1s;
}
@-webkit-keyframes shakeSide {
from {
  transform: translateX(10px);
}
10% {
  transform: translateX(-10px);
}
20% {
  transform: translateX(10px);
}
30% {
  transform: translateX(-10px);
}
40% {
  transform: translateX(10px);
}
50% {
  transform: translateX(-10px);
}
60% {
  transform: translateX(10px);
}
70% {
  transform: translateX(-10px);
}
80% {
  transform: translateX(10px);
}
90% {
  transform: translateX(-10px);
}
to {
  transform: translateX(10px);
}
}
@keyframes shakeSide {
from {
  transform: translateX(10px);
}
10% {
  transform: translateX(-10px);
}
20% {
  transform: translateX(10px);
}
30% {
  transform: translateX(-10px);
}
40% {
  transform: translateX(10px);
}
50% {
  transform: translateX(-10px);
}
60% {
  transform: translateX(10px);
}
70% {
  transform: translateX(-10px);
}
80% {
  transform: translateX(10px);
}
90% {
  transform: translateX(-10px);
}
to {
  transform: translateX(10px);
}
}