/*Global Selector 
--------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
}

/* Image
-----------------------*/
#img {
  flex: 20%;
  background-image: url(../Image/Blured\ background.svg);
  margin-right: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
#logo {
  margin: 20px 0 20px 20px;
}
#img h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin: 20px 0 0 20px;
}

#img p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #ababaf;
  margin: 20px 0 50px 20px;
}

#arrow {
  margin-left: 70px;
  margin-bottom: 80px;
  width: 40%;

}
/* Sign 
-----------------------*/
#text {
  flex: 60%;
  height: 100%;
  /* so it all fits  */
  margin-top: -16px;
}

#sign h1 {
  font-size: 30px;
  line-height: 20px;
}

#sign a {
  font-weight: 500;
  color: #007ad2;
}

#sign img {
  background-color: white;
  padding: 1px;
}

/* Account type
-----------------------*/
#account-type div {
  display: inline-block;
  border: 0.5px solid #ababaf;
  border-radius: 8px;
  margin: 0 20px 10px 0;
  width: 273px;
  padding: 16px 88px 16px 24px;
  color: #5D5E62;
}

#account-type div:focus-within {
  padding: 16px 120px 16px 24px;
  background-color: rgba(159, 202, 255, 0.2);
  border: 1px solid #0060a7;
  color: #0060a7;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

/* User details
-----------------------*/
input[type="email"],
input[type="password"],
input[type="text"] {
  display: block;
  width: 582px;
  outline: 0;
  padding: 16px 16px 16px 24px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Rubik", sans-serif;
}

form a {
  color: #007ad2;
  font-weight: 300;
}

button {
  display: block;
  margin-top: 20px;
  padding: 16px 24px;
  color: white;
  background-color: #3498f4;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.001em;
}
