/* AS YOU START FEEL FREE TO BREAK IT WE HAVE NOTES TO GUIDE YOU --WELCOME DEVELOPER... */

._moveUp {
    /* for use in the keyframes */
    animation-name: moveUp;
    animation-iteration-count: 1;
    /* so it returns back to the original state, set to normal so that it goes just once  */
    animation-direction: alternate;
    /* you can set this to ease, ease-in, ease-out, ease-in-out, or a custom cubic-bezier */
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes moveUp {
    /* to go up we ue negative values  */
    to {
      transform: translateY(-50px);
    }
  }
  
  ._moveDown {
    animation-name: moveDown;
    animation-iteration-count: 1;
    /* so it returns back to the original state, set to normal so that it goes just once  */
    /* and reverts in an instant but with alternate it kind of rewinds it  */
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes moveDown {
    /* to go down we use positive values */
    to {
      transform: translateY(50px);
    }
  }
  
  ._moveRight {
    animation-name: moveRight;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes moveRight {
    /* to go right use positive values */
    to {
      transform: translateX(50px);
    }
  }
  
  ._moveLeft {
    animation-name: moveLeft;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes moveLeft {
    /* to go left use negative values */
    to {
      transform: translateX(-50px);
    }
  }
  
  ._bounce {
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }
  @keyframes bounce {
    /* it moves up then down */
    from {
      transform: translateY(-50px);
    }
    to {
      transform: translateY(50px);
    }
  }
  
  ._blink {
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 0.5s;
  }
  @keyframes blink {
    /* make it go inviscible and then viscible*/
    /* you can't animate css display property */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  ._fade {
    /* basically make it blink slower */
    animation-name: fade;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-duration: 4s;
    /* uncomment whats below so it stays inviscible i.e remains where it stops */
    /* animation-fill-mode: forwards; */
  }
  @keyframes fade {
    /* make it go inviscible and then viscible*/
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  ._popOut {
    animation-name: popOut;
    animation-duration: 0.8s;
    /* change this to 1 if you want to do it once */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* uncomment this if you want to make it stay big */
    /* animation-fill-mode: forwards; */
  }
  @keyframes popOut {
    to {
      transform: scale(1.2);
    }
  }
  
  ._changeBgColor {
    animation-name: changeBgColor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  @keyframes changeBgColor {
    /* feel free to change this color to what you like  */
    to {
      background-color: red;
    }
  }
  ._tada {
    animation-name: tada;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
    @keyframes tada{
      10% {transform: scaleX(0.7);}
      30% {transform: rotateX(10deg);}
      40% {transform: rotateZ(-10deg);}
      60% {transform: rotateZ(10deg);}
      80% {transform: rotateZ(-10deg);}
      90% {transform: rotateZ(10deg);}
      100% {transform: rotateZ(-10deg)}
  
  }
  ._shakeSide {
    animation-name: shakeSide;
    animation-iteration-count: 1;
    animation-duration: 1s;
  }
  @keyframes shakeSide {
    from {
      transform: translateX(10px);
    }
    10% {
      transform: translateX(-10px);
    }
    20% {
      transform: translateX(10px);
    }
    30% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(-10px);
    }
    60% {
      transform: translateX(10px);
    }
    70% {
      transform: translateX(-10px);
    }
    80% {
      transform: translateX(10px);
    }
    90% {
      transform: translateX(-10px);
    }
    to {
      transform: translateX(10px);
    }
  }
  ._shakeUpDown {
    animation-name: shakeUpDown;
    animation-iteration-count: 1;
    animation-duration: 1s;
  }
  @keyframes shakeUpDown {
    from {
      transform: translateY(10px);
    }
    10% {
      transform: translateY(-10px);
    }
    20% {
      transform: translateY(10px);
    }
    30% {
      transform: translateY(-10px);
    }
    40% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(10px);
    }
    70% {
      transform: translateY(-10px);
    }
    80% {
      transform: translateY(10px);
    }
    90% {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
    }
  }
  
  /* UTILITY CLASSES */
  /* speed  */
  ._slow {
    animation-duration: 2s;
  }
  ._slower {
    animation-duration: 4s;
  }
  ._fast {
    animation-duration: 800ms;
  }
  ._faster {
    animation-duration: 400ms;
  }
  
  /* delay */
  ._delay-2s {
    animation-delay: 2s;
  }
  ._delay-3s {
    animation-delay: 3s;
  }
  ._delay-4s {
    animation-delay: 4s;
  }
  ._delay-5s {
    animation-delay: 5s;
  }
  
  /* repeat */
  ._repeat-1 {
    animation-iteration-count: 1;
  }
  ._repeat-2 {
    animation-iteration-count: 2;
  }
  ._repeat-3 {
    animation-iteration-count: 3;
  }
  ._repeat-infinite {
    animation-iteration-count: infinite;
  }
  