* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

img {
    margin-left: 20px;
}

.nav-link {
    list-style: none;
    display: inline-block;
    margin: 0 45px;
    position: relative;
}

.nav-link:hover {
    opacity: 0.5;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: blue;
    width: 0%;
    top: 20px;
    bottom: 10px;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-in {
    background-color: white;

}

.nav-up {
    background-color: darkblue;
}