/*Global Selector 
--------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
}

/* Image
-----------------------*/
#img {
  flex: 20%;
  background-image: url(../Image/Blured\ background\(Login\).svg);
  margin-right: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}
#logo {
  margin: 30px 0 20px 20px;
}
#img h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin: 20px 0 0 20px;
}

#img p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #ababaf;
  margin: 20px 0 50px 20px;
}

#arrow {
  margin-left: 70px;
  margin-bottom: 50px;
}
/* Sign 
-----------------------*/
#text {
  flex: 60%;
  height: 100%;
}
  #signUp{
    margin-bottom: 5%;
  }
  #signUp h1 {
    font-size: 30px;
    line-height: 20px;
  }
  
  #signUp a {
    font-weight: 500;
    color: #007ad2;
  }
  
  /*Button
  --------------------------------- */
  #socialInfo p{
    color: #2F3033;
  }
  #socialInfo button{
    padding: 10px 20px;
    width: 25%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ABABAF;
    cursor: pointer;
    background-color: white;
  }
  /* Divider
  ----------------------------------------*/
  #divider{
   margin-top: 2%;
   margin-bottom: 2%;
  }
  hr{
    display: inline-block;
    width: 22%;
  }
  #divider p{
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
    color: #5A5E66;
    font-weight: 600;
  }
  /* Form
  ----------------------------------*/
  #form{
    color: #5A5E66;
  }

input[type="email"],
input[type="password"]
 {
  display: block;
  width: 582px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px 16px 16px 24px;
  border-radius: 8px;
  margin-bottom: 30px;
  font-family:  "Rubik", sans-serif;
}

#form a {
  color: black;
  font-weight: 300;
  position: relative;
  left: 47%;
}

#form button {
  display: block;
  margin-top: 20px;
  padding: 16px 24px;
  color: white;
  background-color: #3498f4;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.001em;
  cursor: pointer;
  width: 582px;
}


@media only screen and (max-width: 750px) {
  main {
    flex-direction: column;
  }
}