* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
}
footer{
    background-color: #00325B;
    color: white;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 15px 0;
}

.footer h4{
    font-weight: 500;
    font-size: x-large;
}

address a{
    display: block;
    margin-bottom: 10px;
    transition: all 0 3s;
    color: #E8E8E8;
    text-decoration: none;
    font-weight: 400;
}

.websites{
    text-decoration: underline;
}

address a:hover{
    padding-left: 10px;
    color: black;
}

.profile-link{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.social img{
    font-size: 5100px;
    background-color: white;
    margin-top: 40px;
   margin-bottom: 5px;
}

.social a{
    font-size: x-large;
}

.social a:hover{
    font-size: x-large;
    padding-left: 0;
}

.footer-paragraph{
    text-align: center;
    padding-bottom: 20px;
}
/*The light and strong represent the copyright content*/
footer light{
    color: #E8E8E8;
}
footer strong{
    font-weight: 500;
}