{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% comment %} {% if user.is_authenticated %} {% endcomment %}
  {% comment %} Hi {{ user.username }}! {% endcomment %}
  {% comment %} <title>Library</title>
  <style>
    *{
        background: grey;
    }
    h2{
        margin-top: 30%;
        text-align: center;
        font-size: 1.7em;
    }
    p{
        text-align: center;
        font-size: 1.3em;
    }
    .a{
        margin-left: 40%;
    }
    .b{
        margin-left: 5%;
    }
</style>
<h2>Team93</h2>
<p>Animation Library</p>
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %} {% endcomment %}
<title>Home</title>
<script src="https://kit.fontawesome.com/0a96adf822.js" crossorigin="anonymous"></script>
<style>
    *{
        background: grey;
    }
    h2{
        margin-top: 30%;
        text-align: center;
        font-size: 1.7em;
    }
    p{
        text-align: center;
        font-size: 1.3em;
    }
    .a{
        margin-left: 44%;
    }
    .b{
        margin-left: 2%;
    }
</style>
<h2>Team93</h2>
<p>Home Page</p>
<p>Sign in to view library</p>
<a href="{% url 'sign up' %}" class="a"> Sign up</a> <a href="{% url 'login' %}" class="b">Log In</a>
{% comment %} <style>
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
      font-family: sans-serif;
      font-size: 16px;
  }
  nav {
      background: #2b2721;
      padding: 0 15px;
  }
  a {
      color: white;
      text-decoration: none;
  }
  .menu,
  .submenu {   
      list-style-type: none;
  }
  .logo {
      font-size: 20px;
      padding: 7.5px 10px 7.5px 0;
  }
  .item {
      padding: 10px;
  }
  .item.button {
      padding: 9px 5px;
  }
  .item:not(.button) a:hover,
  .item a:hover::after {
      color: #ccc;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu li a {
      display: block;
      padding: 15px 5px;
  }
  .menu li.subitem a {
      padding: 15px;
  }
  .toggle {
      order: 1;
      font-size: 20px;
  }
  .item.button {
      order: 2;
  }
  .item {
      order: 3;
      width: 100%;
      text-align: center;
      display: none;
  }
  .active .item {
      display: block;
  }
  .button.secondary { /* divider between buttons and menu links */
      border-bottom: 1px #444 solid;
  }
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
      font-size: 12px;
  }
  .has-submenu > a::after {
      font-family: "Font Awesome 5 Free";
      font-size: 12px;
      line-height: 16px;
      font-weight: 900; 
      content: "\f078";
      color: white;
      padding-left: 5px;
  }
  .subitem a {
      padding: 10px 15px;
  }
  .submenu-active {
      background-color: #111;
      border-radius: 3px;
  }
  /* Tablet menu */
  @media all and (min-width: 700px) {
      .menu {
          justify-content: center;
      }
      .logo {
          flex: 1;
      }
      .item.button {
          width: auto;
          order: 1;
          display: block;
      }
      .toggle {
          flex: 1;
          text-align: right;
          order: 2;
      }
      /* Button up from tablet screen */
      .menu li.button a {
          padding: 10px 15px;
          margin: 5px 0;
      }
      .button a {
          background: #0080ff;
          border: 1px royalblue solid;
      }
      .button.secondary {
          border: 0;
      }
      .button.secondary a {
          background: transparent;
          border: 1px #0080ff solid;  
      }
      .button a:hover {
          text-decoration: none;
      }
      .button:not(.secondary) a:hover {
          background: royalblue;
          border-color: darkblue;
      }
  }
  /* Desktop menu */
  @media all and (min-width: 960px) {
      .menu {
          align-items: flex-start;     
          flex-wrap: nowrap;
          background: none;
      }
      .logo {
          order: 0;
      }
      .item {
          order: 1;
          position: relative;
          display: block; 
          width: auto;
      }
      .button {
          order: 2;
      }
      .submenu-active .submenu {
          display: block;
          position: absolute;
          left: 0;
          top: 68px;
          background: #111;
      }
      .toggle {
          display: none;
      }
      .submenu-active {
          border-radius: 0;
      }
  }
</style>
<nav>
  <ul class="menu">
      <li class="logo"><a href="#">Team93</a></li>
      <li class="item"><a href="#">Home</a></li>
      <li class="item"><a href="#">About</a></li>
      <li class="item has-submenu">
          <a tabindex="0" class="m">More</a>
          <ul class="submenu">
              <li class="subitem"><a href="#">Animation</a></li>
              <li class="subitem"><a href="#">Team</a></li>
          </ul>
      </li>
      <li class="item"><a href="#">Blog</a></li>
      <li class="item"><a href="#">Contact</a>
      </li>
      <li class="item button"><a href="{% url 'login' %}">Log In</a></li>
      <li class="item button secondary"><a href="{% url 'sign up' %}">Sign Up</a></li>
      <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
  </ul>
</nav>
<script>
  const toggle = document.querySelector(".toggle");
  const menu = document.querySelector(".menu");
  
  /* Toggle mobile menu */
  function toggleMenu() {
      if (menu.classList.contains("active")) {
          menu.classList.remove("active");
          
          // adds the menu (hamburger) icon
          toggle.querySelector("a").innerHTML = "<i class=’fas fa-bars’></i>";
      } else {
          menu.classList.add("active");
          
          // adds the close (x) icon
          toggle.querySelector("a").innerHTML = "<i class=’fas fa-times’></i>";
      }
  }
  
  /* Event Listener */
  toggle.addEventListener("click", toggleMenu, false);
  const items = document.querySelectorAll(".item");
  
/* Activate Submenu */
  function toggleItem() {
    if (this.classList.contains("submenu-active")) {
      this.classList.remove("submenu-active");
    } else if (menu.querySelector(".submenu-active")) {
      menu.querySelector(".submenu-active").classList.remove("submenu-active");
      this.classList.add("submenu-active");
    } else {
      this.classList.add("submenu-active");
    }
  }
  
  /* Event Listeners */
  for (let item of items) {
      if (item.querySelector(".submenu")) {
        item.addEventListener("click", toggleItem, false);
        item.addEventListener("keypress", toggleItem, false);
      }   
  }
  /* Close Submenu From Anywhere */
  function closeSubmenu(e) {
    if (menu.querySelector(".submenu-active")) {
      let isClickInside = menu
        .querySelector(".submenu-active")
        .contains(e.target);
  
      if (!isClickInside && menu.querySelector(".submenu-active")) {
        menu.querySelector(".submenu-active").classList.remove("submenu-active");
      }
    }
  }
  
  /* Event listener */
  document.addEventListener("click", closeSubmenu, false);
</script> {% endcomment %}
{% comment %} {% endif %} {% endcomment %}
{% endblock %}