@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #83DEF1;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 50px;
}

.wrapper h1{
  font-family:sans-serif;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.wrapper h2{
    font-family: sans-serif;
    font-size: 50px;
    margin-bottom: 60px;
    text-align: center;
  }

.account{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}
  
.account .individual{
  background: #fff;
  height: 300px;
  margin: 5px;
  margin-bottom: 50px;
  width: 400px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.account .team{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 400px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;  
    position: relative;
  }

.account h3{
  color: black;
  font-size: 26px;
  margin-top: 50px;
  padding-top: 20%;
}

.account .team p{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.account .individual .individual_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #006A94;
  }
  

.account .team .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #006A94;
}

.account .team .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

.account .indiviual button{
    margin-top: 20px;
}