/* Global Selectors
---------------------------------------------------- */
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #fbfbfb;
}

main {
  margin: 0 30px;
}

/* Header
---------------------------------------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  padding: 15px;
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  width: 100%;
  z-index: 1;
}

header img {
  margin-left: 1%;
}

#navbar {
  /* margin-right: 40%; */
  width: 60%;
}

.nav-link {
  text-decoration: none;
  color: black;
}

#navbar li {
  display: inline-block;
  margin: 0 30px;
}

#login-button {
  margin-right: 1%;
}

.login {
  color: black;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 500;
}

.signUp {
  background: #63afff;
  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 15px 30px;
  color: white;
  border: 0;
  font-weight: 600;
}

/* Features
---------------------------------------------------- */
#features {
  overflow: hidden;
}

figure {
  position: relative;
  width: 500%;
  display: flex;
  animation: 25s slider infinite;
}

#features img {
  background-image: url(../Image/Rectangle\ 80.svg);
  background-size: cover;
  width: 20%;
  border-radius: 30px;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  30% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  65% {
    left: -200%;
  }

  68% {
    left: -300%;
  }

  99% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

/* Search Form
---------------------------------------------------- */
#search {
  margin: 60px 0;
  border: 0;
  width: 30%;
  /* padding: 16px 24px; */
}

.container {
  display: block;
  color: #a8abb4;
}

.form {
  display: flex;
  padding: 8px 16px;
  background-color: white;
  border: 0;
  border-radius: 20px;
  align-items: center;
}

input {
  flex: 1;
  padding: 8px 16px;
  outline: 0;
  border: 0;
}

/* Animations
---------------------------------------------------- */
.anim8 {
  display: flex;
  margin-bottom: 150px;
}

.anim8 img {
  width: 20%;
  align-self: center;
  justify-self: center;
  margin-right: 10%;
}

.text {
  width: 70%;
  margin-top: 5%;
}

.action {
  display: inline-block;
  width: 269px;
  height: 104px;
  padding: 32px 48px;
  margin-bottom: 20px;
  margin-right: 5px;
  border: 1px solid #0058b4;
  color: #0058b4;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fbfbfb;
  font-weight: 500;
  font-size: 20px;
}

/* footer
---------------------------------------------------- */
footer {
  color: white;
  background-color: #181c22;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  height: 30vh;
  width: 100%;
}


.websites {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 60px;
}

.profile-link {
  font-size: x-large;
  color: white;
  margin: 10px 20px;

}

.links {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.links a {
  color: #a8abb4;
  text-decoration: none;
}

address {
  font-style: normal;
}

address h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-weight: 200;
  color: #a8abb4;
}

strong {
  font-weight: 400;
  color: white;
}

/*Animations
<<<<<<< HEAD
------------------------------------------------------ */

.animated {
  width: 20%;
  align-self: center;
  justify-self: center;
  margin-right: 10%;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* FOR FADE IN-BORDER  */
.fadeInBorder{
  border: 2px solid #a8abb4;
}
/* FOR FADE IN-LEFT */
@-webkit-keyframes fadeInLeft {
  from{
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from{
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft{
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  /* background-color: red; */
}

/* FOR FADE IN-RIGHT */
@-webkit-keyframes fadeInRight {
  from{
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from{
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInRight{
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  /* background-color: red; */
}


/* FOR _MOVE DOWN */
@-webkit-keyframes fadeInDown {
  from{
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from{
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown{
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  /* background-color: red; */
}

/* FOR _MOVE UP */
@-webkit-keyframes fadeInUp {
  from{
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from{
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp{
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  /* background-color: red; */
}

/* FOR FADE-OUT */
@-webkit-keyframes fadeOut{
  from{
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 0;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeOut {
  from{
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 0;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeOut{
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  /* background-color: red; */
}


/* FOR FADE-IN */
@-webkit-keyframes fadeIn{
  from{
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeIn {
  from{
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeIn{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  /* background-color: red; */
}

/* FOR BOUNCE */
@keyframes bounce{
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40%{transform: translateY(-30px);}
  60%{transform: translateY(-15px);}
}
.bounce{
  animation-name: bounce;
  /* background-color: red; */
}

/* FOR BLINK */
@keyframes blink{
  to{
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to{ 
    visibility: hidden;
  }
}
.blink{
  animation: blink 500ms steps(5, start) infinite;
  -webkit-animation: blink 500ms steps(5, start) infinite;
  /* background-color: red; */
}

