* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
}

header{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
img{
    margin-left: 20px;
}
#navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 40px;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.nav-link:hover{
    border-bottom: 3px solid #00325B;
    padding-bottom: 5px;
}

.nav-btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: 0.5px solid black;
    margin-right: 5px;   
}

.sign-up{
    color: white;
    background-color: #00325B;
}

.sign-in{
    color: #00325B;
    background-color: white;
}


#form{
    display: flex;
    justify-content: center;
}

#container{
    text-align: center;
    width: 45%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #00325B;
    padding: 10px 20px;
}

input[type="text"]{ 
    flex: 1;
    outline: none;
    padding: 10px;
    border: none;
}