/* Global Selectors
---------------------------------------------------- */
*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: #E3E3E3;
}

main{
    margin: 0 30px;
}
/* Header
---------------------------------------------------- */
header{
    display: flex;
align-items: center;
justify-content: space-between;
background: #FFFFFF;
box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
padding: 15px;
position: sticky;
top: 0;
margin-bottom: 30px;
width: 100%;
}

header img{
    margin-left: 1%;
}

#navbar{
    /* margin-right: 40%; */
    width: 60%;
}

.nav-link{
    text-decoration: none;
    color: black;
}

#navbar li{
    display: inline-block;
    margin: 0 30px;
}

#profile{
    margin-right: 1%;
}
/* Features
---------------------------------------------------- */ 
#features img{
    margin: 0 auto;
    background-image: url(/Image/Rectangle\ 80.svg);
    width: 100%;
    border-radius: 20px;
}
/* Search Form
---------------------------------------------------- */
#search{
    margin: 60px 0;
    border: 0;
    width: 30%;
    
}
.container{
    display: block;
    color: #A8ABB4;
    
}
.form{
    display: flex;
    padding: 2px;
    background-color: white;
    border: 0;
    border-radius: 20px;
}
input{
    flex: 1;
    padding: 2px 10px;
    outline: 0;
    border: 0;
}

/* Animations
---------------------------------------------------- */
.anim8{
    display: flex;
    margin-bottom: 150px;
}

.anim8 img{
    width: 20%;
    align-self: center;
    justify-self: center;
    margin-right: 10%;
}

.text{
    width: 70%;
    margin-top: 5%;
}
.action{
    display: inline-block;
    width: 30%;
    padding: 32px 48px;
    margin-bottom: 20px;
    margin-right: 5px;
    border: 1px solid #0058B4;
    color: #0058B4;
    border-radius: 10px;
}
/* footer
---------------------------------------------------- */
footer{
    color: white;
    background-color: #181C22;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    height: 30vh;
    width: 100%;
}
.websites{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* margin-left: 20px;
    margin-top: 20px; */
}
.profile-link{
    font-size: x-large;
    color: white;
    margin: 0 5px;
    
}

.links{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.links a{
    color: #A8ABB4;
    text-decoration: none;
}

address{
    font-style: normal;
}

address h4{
    font-weight: 400;
    margin-bottom: 20px;
}

p{
    text-align: center;
    font-weight: 200;
    color: #A8ABB4;
}

strong{
    font-weight: 400;
    color: white;
}