
body{
    padding: 0;
    font-family: sans-serif;
    background-image: url('Log in Page.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper{
    width: 65rem;
    padding: 20px 20px;
    padding-bottom: 10rem;
    margin-top: 8%;
    background: white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.wrapper h4{
    text-align:justify;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    padding: 13px 0;
}

.wrapper p{
    text-align: center;
    float: center;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 13px 0;
}
.textbox{
    width: 50rem;
    overflow: hidden;
    font-size: 20px;
    padding: 10px 10px;
    margin: 8px 0;
    border: 1px solid blue;
    border-radius: 6px;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80px;
    float: left;
    margin: 0 10px;
}

.btn{
    width: 50rem;
    border: 1px solid;
    border-radius: 5%;
    background-color: rgb(14, 154, 209);
    padding: 5px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin: 12px 0;
}

.btn:hover{
    background-color: red;
}

.fp{
    color: white;
}

