@import url("https://fonts.googleapis.com/css?family=Montserrat&family=Rubik:wght@300;400;500;600&display=swap");

*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    background-image: url('Log in Page.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main{
    background-color: #EFF7FF;
    padding: 5%;
    border-radius: 10px;
    margin-top: 20rem;
    margin-bottom: 15rem;
}

.fa-xmark{
    font-size: xx-large; 
    position: absolute;
    top: 5%;
    right: 5%;
    color: black;  
}

h1{
    margin-bottom: 10px;
    font-weight: bolder;
}
p{
    font-weight: 500;
    width: 58%;
}
form input{
    width: 89%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    align-self: center;
    display: inline-block;
    border: 1px solid #87CEEB;
    font-size: large;
    font-weight: bold;
}

input[type="button"]{
    background-color: #4b95b3;
    color: #fff;
    font-weight: bolder;
}
