@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 20px;
}
main{
    font-family: "Rubik", sans-serif;
    height: 80%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #83def1;
}
.container{
    margin-top: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.image{
    margin-top: -70px;
}
button{
  text-align: center;
  padding: 10px 100px;
  gap: 10px;
  background: #042947;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bolder;
  font-size: 16px;
}
.info{
    border: 1ps solid;
    text-align: center;
}
.info h3{
    color: #042947;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}
.info p{
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.44px;
}
.info button{
    margin-bottom: 50px;
}