* {
    margin: 0;
    padding: 0;
    font-family: Rubik;
  }
  
  main {
    margin-top: 1%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .image {
    width: 50%;
    max-width: 450px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("background.svg");
    height: 100vh;
    max-height: 938px;
    padding-top: 2.5%;
    padding-left: 3%;
    /* padding: 2.5% 18.3% 2.5% 3%; */
  }
  .form {
    padding-bottom: 20%;
    padding-left: 5%;
  }
  
  /* font style for all fonts, h1 and h3 are for the image part of the screen */
  h1 {
    font-weight: 700;
    color: white;
    font-size: 64px;
    font-style: medium;
    line-height: 100%;
    width: 75%;
    padding-top: 15%;
  }
  h3 {
    font-weight: 500;
    color: #e3e2e6;
    font-size: 24px;
    font-style: normal;
    line-height: 113%;
    padding-top: 5%;
    width: 75%;
  }
  h2 {
    font-style: Medium;
    font-size: 48px;
    line-height: 100%;
    padding-bottom: 5%;
  }
  p {
    font-style: Regular;
    font-size: 20px;
    line-height: 118%;
    padding-bottom: 5%;
    width: 75%;
  }
  
  /* styling the form input cells and submit button */
  input {
    width: 90%;
    max-width: 600px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 2px solid lightgray;
    outline: none;
    cursor: pointer;
  }
  input[type="submit"] {
    color: white;
    border: none;
    background-color: #3498f4;
    text-align: center;
  }
  